@using BExIS.Modules.EMM.UI.Models

@model LogInToEventModel
@using (Ajax.BeginForm("LoadForm", "EventRegistration", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "logInToEvent", OnSuccess = "logInToEvent_onSuccess" }))
{

    @Html.HiddenFor(m => m.EventId)
    @Html.HiddenFor(m => m.Edit)
    @Html.HiddenFor(m => m.ViewOnly)
    @Html.HiddenFor(m => m.RefId)


    <div id="logInToEvent">
        <table class="bx-table-form" style="width: 500px;">

            <tr>
                <td>
                    @Html.LabelFor(m => m.LogInPassword)
                </td>
                <td>
                    @Html.PasswordFor(m => m.LogInPassword, new { @class = "t-input bx-input" })<br>
                    @Html.ValidationMessage("passwort")
                </td>
            </tr>

        </table>

        <div class="bx-footer right">
            <button type="submit" class="bx-button action">Continue registration</button>
            @Html.ActionLink("Cancel", "EventRegistration", "EventRegistration", new { area = "EMM", @class = "bx-button action", @title = "Cancel", @tabindex = "7" })
        </div>
    </div>
}

