@using Telerik.Web.Mvc.UI
@using BExIS.Modules.EMM.UI.Models;

@model List<EventRegistrationModel>

@section Information
{
   Here you find a list of all events currently available for registration. You can register for an event, view and change (only if allowed) your registration. To register you need a passwort, which is usually send via email by the project administration.
   <!-- <p>
        <a href="/RBM/Help/Index/#_Toc434570750" class="bx-informationLink" title="go to help" target="_blank">More</a>
    </p>-->
}

@{
    GridPagerStyles pagerStyles = GridPagerStyles.PageSizeDropDown;
    pagerStyles |= GridPagerStyles.NextPreviousAndNumeric;
    pagerStyles |= GridPagerStyles.Numeric;
}

<span style="color:green">@ViewBag.Message</span>

@(Html.Telerik().Grid(Model)
            .Name("Events")
            .Columns(columns =>
            {
                columns.Template(
                @<text>
                    @if (item.AlreadyRegistered == false)
                                {
                        <div onclick="onClickRegister(@item.Event.Id)" class="bx bx-grid-function fa-sign-in" style="cursor: pointer;" title="Register for event"> Register</div>
                                }
                                <!--else
                                {
                        <div class="bx bx-grid-function fa-sign-in bx-disabled" disabled="disabled" title="Register for event"></div>
                                }-->
                   
                    @if (item.EditAllowed && item.AlreadyRegistered == true && item.Event.Deadline >= DateTime.Now)
                                {
                        <div onclick="onClickEdit(@item.Event.Id, '@item.AlreadyRegisteredRefId')" class="bx bx-grid-function bx-edit" style="cursor: pointer;" title="Edit registration"> Edit registration</div>
                                }
                     else if (item.AlreadyRegistered == true)
                                {
                        <div onclick="onClickView(@item.Event.Id, '@item.AlreadyRegisteredRefId')" class="bx bx-grid-function fa-eye" style="cursor: pointer;" title="View registration"> View registration</div>

                                }
                </text>
                    ).Width(140);
            columns.Bound(r => r.Event.Name);
            columns.Bound(r => r.Event.Deadline).Format("{0: dd-MM-yyyy}").Width(200); 
            columns.Template(
                        @<text>
                            @item.NumberOfRegistration/@item.Event.ParticipantsLimitation
                        </text>
                            ).Width(90);
                    //columns.Bound(r => r.Event.ParticipantsLimitation);
                })
                                      .Pageable(paging =>
                                    paging
                                        .Style(pagerStyles)
                                        .PageSize(50)
                                        .Position(GridPagerPosition.Both)
                                        )
                            .Filterable()
                    //.Sortable(sortable => sortable
                    //    .OrderBy(orderby => orderby
                    //        .Add(r => r.Id).Descending()))
)

@(Html.Telerik().Window()
        .Name("Window_LogInToEvent")
        .Title("Event registration")
        .Draggable(true)
        .Modal(true)
        .Visible(false)
        .Scrollable(true)
        .ContentHtmlAttributes(new { @style = "overflow:auto; width:auto; height:auto; min-height:225px; min-width:400px" })
        .Content(@<text>
            <div id="Content_Creation"></div>
        </text>)
                .ClientEvents(clientEvents => clientEvents
                    .OnClose("Window_LogInToEvent_OnClose"))
)



<script type="text/javascript">

    //function onDataBound() {
    //resetAllTelerikIconTitles();
    //addTooltips();
    //}


    function onClickRegister(id)
    {
        $.get('@Url.Action("LogInToEvent", "EventRegistration", new RouteValueDictionary { { "area", "EMM" } })', {id: id }, function (data) {
            $('#Content_Creation').html(data);
            var window = $('#Window_LogInToEvent').data('tWindow');
            window.center().open();
        });
    }

    function onClickEdit(id, ref_id = null)
    {
        $.get('@Url.Action("LogInToEvent", "EventRegistration", new RouteValueDictionary { { "area", "EMM" } })', { id: id, ref_id: ref_id}, function (data) {
            $('#Content_Creation').html(data);
            var window = $('#Window_LogInToEvent').data('tWindow');
            window.center().open();
        });
    }

    function onClickView(id, ref_id = null)
    {
        $.get('@Url.Action("LogInToEvent", "EventRegistration", new RouteValueDictionary { { "area", "EMM" } })', { id: id, view_only: "true", ref_id: ref_id}, function (data) {
            $('#Content_Creation').html(data);
            var window = $('#Window_LogInToEvent').data('tWindow');
            window.center().open();
        });
    }


    function Window_LogInToEvent_OnClose() {

        $('#Content_Creation').empty();
    }

    function logInToEvent_onSuccess(data) {
        if (data.success) {
            $('#Window_LogInToEvent').data('tWindow').close();

            window.location.href = "/EMM/EventRegistration/LoadMetadataForm";

        }
        else {
            $('#Content_Creation').html(data);
            var window23 = $('#Window_LogInToEvent').data('tWindow');
            window23.center().open();
        }
    }


</script>

