@using BExIS.Modules.EMM.UI.Models;

@model List<EventModel>

@section Information
{
    With this interface you are able to manage (e.g. create, edit or delete) events.
<p>
    <a href="/RBM/Help/Index/#_Toc434570750" class="bx-informationLink" title="go to help" target="_blank">More</a> <!--FZ link does not work--> 
</p>
}

@Html.ActionLink("Create new Event", "Create", "Event", new { @class = "bx-button function" })
<br />
<br />
<table id="events">
    <thead>
        <tr>
            <th>Id</th>
            <th>Event name</th>
            <th>Participants limitation</th>
            <th>Start date</th>
            <th>Deadline</th>
            <th>Allow edit</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@Model[i].Id</td>
                <td>@Model[i].Name</td>
                <td>@Model[i].ParticipantsLimitation</td>
                <td>@Model[i].StartDate.ToString("dd-MM-yyyy")</td>
                <td>@Model[i].Deadline.ToString("dd-MM-yyyy")</td>
                <td>
                    @if (Model[i].EditAllowed)
                    {
                        <input type="checkbox" checked disabled />
                    }
                    else
                    {
                        <input type="checkbox" disabled />
                    }

                </td>
                <td>
                    <div class="bx bx-grid-function bx-edit" title='Edit event "@Model[i].Name"' onclick="OnClickEdit(@Model[i].Id)"></div>
                    @if (Model[i].InUse)
                    {
                        <div class="bx bx-grid-function bx-trash bx-disabled" title='Event has registrations, delete not possible' onclick="OnClickDelete(@Model[i].Id)"></div>
                    }
                    else
                    {
                        <div class="bx bx-grid-function bx-trash" title='Delete event "@Model[i].Name"' onclick="OnClickDelete(@Model[i].Id)"></div>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>

<script type="text/javascript">

        $(document).ready(function () {
            $('#events').DataTable();

        });

    function OnClickEdit(id)
    {
        $.get('@Url.Action("Edit", "Event", new RouteValueDictionary { { "area", "EMM" } })', { id: id }, function (data) {
            window.location.href = 'Edit/' + id;
        });
    }

    function OnClickDelete(id)
    {
        $.get('@Url.Action("Delete", "Event", new RouteValueDictionary { { "area", "EMM" } })', { id: id }, function (data) {
            refreshGrid();
        });
    }

</script>
